<!-- Page Content -->
<div class="container">

  <!-- Page Heading/Breadcrumbs -->
  <h1 class="mt-4 mb-3">A Cerca
    <small>De Nosotros</small>
  </h1>

  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a [routerLink]="['/home']">Inicio</a>
    </li>
    <li class="breadcrumb-item active">Quienes Somos </li>
  </ol>

  <!-- Intro Content -->
  <div class="row">
    <div class="col-lg-6">
      <img class="img-fluid rounded mb-4" src="assets/img/about-autoridades-1.jpg" alt="">
    </div>
    <div class="col-lg-6">
      <h2>¿Qué es el Colegio De Escribanos de Jujuy?</h2>
      <p>El Colegio de Escribanos de la Provincia de Jujuy nuclea a todos los escribanos
         que ejercen la función notarial en el ámbito de la Provincia de Jujuy. 
         Cuenta con su sede central en los demas departamentos de la provincia y con 3 delegaciones en toda la provincia.
          Nuestro Colegio nace como asociación civil el 18 de febrero de 1889 a instancias del escribano Arturo Mom,
           quien fue uno de sus fundadores y su primer presidente. Con la sanción de la ley 5015 el Colegio obtiene el reconocimiento de su personería jurídica. Entre otros aspectos, esta norma regula el ingreso a la función notarial y su ejercicio, establece disposiciones 
           sobre los registros, protocolos y escrituras, y crea el primer sistema oficial de jubilaciones 
           -la hoy denominada Caja de Seguridad Social para Escribanos de la Provincia de Jujuy-</p>  

      
    </div>
  </div>
  <!-- /.row -->

  <!-- Team Members -->
  <h2>Nuesto Equipo</h2>

  <div class="row">
    <div class="col-lg-4 mb-4">
      <div class="card h-100 text-center">
        <img class="card-img-top" src="assets/img/about-logo-1.jpg" alt="">
        <div class="card-body">
          <h4 class="card-title">Consejo Federal del Notariado Argentino</h4>
          <p class="card-text">Es la entidad nucleante de los 24 Colegios de Escribanos de la República Argentina, que ejerce la representación del notariado en el orden nacional e internacional.</p>
        </div>
        <div class="card-footer">
          <a href="#">http://www.cfna.org.ar/</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 mb-4">
      <div class="card h-100 text-center">
        <img class="card-img-top" src="assets/img/about-logo-2.jpg" alt="">
        <div class="card-body">
          <h4 class="card-title">Colegio de Escribanos de la Provincia de Buenos Aires</h4>
          <p class="card-text">Nuclea a todos los escribanos que ejercen la función notarial en el ámbito de la Provincia de Buenos Aires. Cuenta con su sede central en La Plata y con 17 delegaciones en todo el territorio bonaerense.</p>
        </div>
        <div class="card-footer">
          <a href="#">http://www.colescba.org.ar/</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 mb-4">
      <div class="card h-100 text-center">
        <img class="card-img-top" src="assets/img/about-logo-3.jpg" alt="">
        <div class="card-body">
          <h4 class="card-title">Colegio de Escribanos de la Ciudad de Buenos Aires</h4>
          <p class="card-text">Nuclea a todos los escribanos que ejercen la función notarial en el ámbito de la Ciudad de Buenos Aires (al 30-06-2018 había 1983 escribanos colegiados), ya que la colegiación es obligatoria para ejercer la profesión.</p>
        </div>
        <div class="card-footer">
          <a href="#">www.colegio-escribanos.org.ar</a>
        </div>
      </div>
    </div>
  </div>
  <!-- /.row -->


</div>
<!-- /.container -->