<!-- Page Content -->
<div class="container">
    

  <h1 class="my-4"></h1>
    <!-- Features Section -->
  
  <!-- Portfolio Section -->
  <h2>ÚLTIMAS NOTICIAS</h2>

  <div class="row">
    <div class="col-lg-4 col-sm-6 portfolio-item">
      <div class="card h-100">
        <a href="#"><img class="card-img-top" src="assets/img/home-noticia-1.jpg" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">Salón de Pintura "Rodrigo Pereira"</a>
          </h4>
          <p class="card-text">El Colegio de Escribanos de la Provincia de Jujuy, instituye el SALÓN DE PINTURA “RODRIGO PEREIRA”, en homenaje al Escribano que labrara el Acta de Fundación de San Salvador de Velasco en el Valle de Jujuy y con el propósito de conservar (y documentar a través de las obras de arte, imágenes de la ciudad de San Salvador de Jujuy y/o su espíritu) .</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6 portfolio-item">
      <div class="card h-100">
        <a href="#"><img class="card-img-top" src="assets/img/home-noticia-2.jpg" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">VI Jornada Federal De Asesoramiento Gratuito
            </a>
          </h4>
          <p class="card-text">SEDES:
            BIBLIOTECA POPULAR DE JUJUY- Sito en Calle Belgrano N° 652 de San Salvador de Jujuy.-
            BIBLIOTECA POPULAR BARTOLOME MITRE – Sito en Calle Independencia Esquina Av. Libertad - Ciudad de Libertador General San Martín. Ledesma.-</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6 portfolio-item">
      <div class="card h-100">
        <a href="#"><img class="card-img-top" src="assets/img/home-noticia-3.jpg" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">Premios San Salvador 2017: Reconocimiento a la labor profesional del Colegio de Escribanos</a>
          </h4>
          <p class="card-text">El sábado 5 de agosto se llevó a cabo una nueva edición de los Premios San Salvador, evento que impulsa la Municipalidad de San Salvador de Jujuy para destacar la labor permanente y trayectoria de los distintos actores sociales, cuya tarea cotidiana es innovadora, significativa y trascendente para nuestra comunidad.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6 portfolio-item">
      <div class="card h-100">
        <a href="#"><img class="card-img-top" src="assets/img/home-noticia-4.jpg" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">INAUGURACION DEL SALON DE PINTURA RODRIGO PEREIRA – EDICION XXXVIII</a>
          </h4>
          <p class="card-text">La entrega de premios del concurso "Salón de Pintura Rodrigo Pereira" organizado por el Colegio de Escribanos de Jujuy en su 38ª edición y en adhesión a un nuevo aniversario de la Fundación de San Salvador de Jujuy, se llevó a cabo el día 19 de Abril desde 20 Hs en el Salón de Pinturas que posee la Institución.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6 portfolio-item">
      <div class="card h-100">
        <a href="#"><img class="card-img-top" src="assets/img/home-noticia-5.jpg" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">El Colegio de Escribanos invita al Salón de Pintura "Rodrigo Pereira"</a>
          </h4>
          <p class="card-text">Desde el Colegio de Escribanos de Jujuy brindaron detalles sobre el tradicional certamen local.El jurado este año estará integrado por Froilán Colque, Juan Carlos Entrocassi y Tomás Bree.Hasta el 7 de abril.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6 portfolio-item">
      <div class="card h-100">
        <a href="#"><img class="card-img-top" src="assets/img/home-noticia-6.jpg" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">Beneficios académicos, culturales y científicos</a>
          </h4>
          <p class="card-text">El Colegio de Escribanos de Jujuy y la Academia Nacional de Derecho y Ciencias Sociales de Córdoba, suscribieron un convenio marco de cooperación por el cual articularán esfuerzos a favor de la investigación y la búsqueda de objetivos comunes en el campo académico y cultural.</p>
        </div>
      </div>
    </div>
  </div>
  <!-- /.row -->

  
</div>
<!-- /.container -->